#informatie-main {
	width: var(--width);
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	position: relative;
	padding: 2rem 0;
}

#informatie-main img {
	position: absolute;
	width: 300px;
	height: 300px;
	object-fit: contain;
}

#informatie-main img.right {
	right: -50px;
	top: 25px;
}

#informatie-main img.left {
	left: -50px;
	bottom: 25px;
}

#informatie-main h1 {
	font-size: 4rem;
}

#informatie-main p {
	width: 50%;
	font-size: 1.8rem;
	text-align: center;
}

/* Common Signs Images */

#common-signs {
	min-height: 0;
	padding: 4rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

#common-signs img {
	width: 65%;
	height: 65%;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
}

/* Burnout Work List */

#burnout-work {
	min-height: 0;
	width: var(--width);
	padding: 4rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

#burnout-work .text-box {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 1.8rem;
	gap: 5rem;
}

#burnout-work .text-box h2 {
	font-size: 3.5rem;
}

#burnout-work img {
	width: 500px;
	height: 400px;
	object-fit: cover;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
}

#burnout-list {
	width: var(--width);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	font-size: 1.7rem;
	padding: 2rem 0;
}

#burnout-list ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#burnout-list ul li {
	margin: 0 1.5rem;
	list-style-type: disc;
}

#burnout-list ul img {
	width: 50%;
	height: 50%;
	object-fit: cover;
	margin: 2rem auto;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1400px) {
	#informatie-main p {
		width: 100%;
	}

	#informatie-main img {
		display: none;
	}

	#burnout-work img {
		width: 400px;
		height: 300px;
	}
}

@media only screen and (max-width: 992px) {
	#burnout-work {
		flex-direction: column;
	}

	#burnout-work .text-box {
		width: 100%;
	}

	#burnout-list ul img {
		width: 100%;
		height: 100%;
	}
}
